.match-picture-container {
    width: 5vw;
}

.match-picture-container img {
    border-radius: 0.25rem;
}

.match-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: transparent;
}

.match-info {
    display: flex;
    justify-items: center;
    align-items: center;
    padding-left: 1rem;
}
    
    

th img {
    width: 5vw;
}

th {
    width: 100%;
}
