.question {
    color: black;
}

.question-title {
    font-size: 3rem;
}

.question-prompt {
}

.question-body {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.question-next-button {
}
