body {
}

.card {
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    padding: 2.5rem;
    margin-top: 5rem;
    border-radius: 0.25rem;
    min-width: 25vw;
    max-width: 50vw;
}

form > div {
    margin: 1em;
}

input {
    cursor: pointer;
}

nav {
    background: rgba(255, 255, 255, 0.8);
    display: flex;
}

#welcome {
    flex: 1;
    text-align: right;
}

#main {
    padding: 0 2rem;
    height: 100vh;
}

#content {
    background: url('//live.staticflickr.com/970/27814594358_7f060bad81_k.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100%;
    padding: 1em;
    border-radius: 0.5em 0.5em 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 1em;
}

button {
    border: none;
    outline: none;
}
