body {
}

.card {
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    padding: 2.5em;
    margin-top: 5em;
    border-radius: 1em;
}

form > div {
    margin: 1em;
}

input {
    cursor: pointer;
}

nav {
    background: rgba(255, 255, 255, 0.8);
}


#main {
    padding: 0 2em;
    height: 100vh;
}

#content {
    background: url('https://lh3.googleusercontent.com/fife/ABSRlIq7f3kWj4fSC0zMJP9s1_a_9OyRRKTafbhzdFx9lltdvERWZREeeTkc791Xf0gKJ7RJviTKqo_TKZ13iB5HQ5uPFOSLwsl2TmTjKoOMR6jqFld1q67a2t3IUHCesdJTq62syE_XR-ORq-KmBy3MBmCFutac6eAIlXkL_Ez6JwHBomPJW2k2Ty_-mQsEMkXNewjDwwi8RMzfee-HsKkAWRARLRuYRNVFKJ2vVgQQiSnykdGa5EpTrZNv3qHlWv30w9VkTSxGFYdBsIHuNAD-zcwRk9E1lNEBD3KvyqCoB5rZoAjtB8y8i4Ce3wdZJqjJ11JYH_qw5_vp5zz3_BtdQfvI2pKlA5CRY1GAVjeDX5P_UFNamgsIYUmBYVRIxu6sAEyLC2XS_4aeFdNwE5K1qsSt_MEtAetnhAEX_Lako4FL_9SEklTVBAPiuNT8bfpY0NRJF5hpx7pdJeRxJC4Y-fk06Ezt0BcK8QKq5K4yrNEaHRh0KM0RdfelLW30u0cxELK3TfFY_e-NS1NPPliceHUF9BD7nSnVuFT9-yarUoutYWOAGOPNMt2hMhLiRR5okQ_WIgimnmVbeAA2y5j0cB1BcNwRgSjcr7967bIYQnrXweefcCfgU_OvKn1cOZQg3U2WTC0CQkELqXwNlm0uQ3rm0lxAXbYE6d48A93NJGQPfNczUHGt8PHfmO7AyCU6Op_m8pR3PkD6HMZn1C0ODhb8_9qulbZhMA=w2560-h1297-ft');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100%;
    padding: 1em;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 1em;
}

button {
    border: none;
}
