<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block title %}<title>Roommate Connector</title>{% endblock %}
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    {% block styles %}{% endblock %}
  
</head>
<body>
    {% block navbar %}
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="/static/img/netconnectlogo.png" width="41.4" height="34.7" alt="">
            </a>
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'matches' %}">
                Matches
            </a>
            <a class="nav-item nav-link" href="{% url 'map' %}">
                Map
            </a>
            <div class="dropdown show">
                <a class="nav-item nav-link dropdown-toggle" id="welcome" href="#" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Welcome {{ user.get_full_name }}!
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="welcome">
                    <a class="dropdown-item nav-item nav-link" href="{% url 'profile' %}">My Profile</a>
                    <a class="dropdown-item nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
            {% endif %}
            
        </nav>
    {% endblock %}
    <main id="main">
        {% block content %}<!-- default content text (typically empty) -->{% endblock %}
    </main>
    {% block footer %}
        <!--footer stuff here -->

        <footer class="container-fluid">
            <span>Team B-20</span>
        </footer>
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
