{% extends 'base.html' %}
{% block title %}
    <title>Chat - {{ other }}</title>
{% endblock %}

{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chat.css' %}">
{% endblock %}

{% block content %}
<div id="content">
    <div class="card">
        <a href="{% url 'view_other_profile' username=other.profile.user.username %}">
            <button class="btn btn-outline-primary">View {{ other.profile.user.get_full_name }} {{ other }}'s Profile</button>
        </a>
        <form id="chat-wrapper" action="#">
            <div class="form-group">
                <h4>
                    Chat: {{ other.profile.user.get_full_name }} ({{ other }})
                </h4>
                <small class="has-text-grey-light">Your username: {{ user.username }}</small>
            </div>
            
            <div id="chat-messages" class="form-group">
                {% for m in messages %}
                    <b>{{ m.username }}</b>: {{ m.content }}<br>
                {% endfor %}
            </div>

            <div class="form-group">
                <input class="form-control" type="text" placeholder="Message" id="chat-message-input">
            </div>

            <div class="form-group">
                <button class="btn btn-primary" id="chat-message-submit">Send</button>
            </div>
        </form>
    </div>
</div>

{{ room_name|json_script:"json-roomname" }}
{{ user.username|json_script:"json-username" }}

<script src="{% static 'js/chat.js' %}" defer></script>
{% endblock %}
