{% extends 'base.html' %}
{% load filters %}

{% block content %}
<div id="content">
    <div class="card">
        <h1>Edit Profile</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in user_form %}
                <div class="form-group">
                    {{ field.errors }}
                    <label for="{{ field.label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            {% for field in profile_form %}
                <div class="form-group">
                    {{ field.errors }}
                    <label for="{{ field.label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <button class="btn btn-outline-primary" type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}
