{% extends 'base.html' %}
{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
<main id="main">
    <div id="content">
        <div class="card">
            <a class="btn btn-outline-dark" href="/users/googleauth" role="button" style="text-transform:none">
                <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    Login with Google
            </a>
        </div>
    </div>
</main>
{% endblock %}
