{% extends 'base.html' %}
{% block title %}
    <title>Map</title>
{% endblock %}

{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/map.css' %}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
<link rel="stylesheet" href="https://unpkg.com/leaflet-contextmenu@1.4.0/dist/leaflet.contextmenu.min.css"/>

<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
<script src="https://unpkg.com/leaflet-contextmenu@1.4.0/dist/leaflet.contextmenu.min.js"></script>
{% endblock %}

{% block overlay %}
{% if not location_set %}
    <div id="get-started-map" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Location Search Preferences</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="OK, got it">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>The map allows you to set a preferred area to live in. This allows us to provide higher compatibility with others who share similar location preferences to you.</p>
            <span>To get started, right-click on the map to bring up a context menu, where you can enable setting a location marker or adjusting the radius after a marker is set. To adjust the radius, click on the marker or circle and drag out to the radius desired.</span>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">OK, got it</button>
          </div>
        </div>
      </div>
    </div>
{% endif %}
{% endblock %}
{% block content %}
<div id="map"></div>
<script>
    var CSRF_TOKEN = "{{ csrf_token }}";
    var LOCATION_SET = eval("{{ location_set }}".toLowerCase());
</script>
<script src="{% static 'js/map.js' %}">
</script>
{% endblock %}
