{% extends 'base.html' %}
{% block title %}
    <title>Matches</title>
{% endblock %}
{% load filters %}

{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/matches.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div id="content">
    <div class="card">
        <h1>Matches</h1>
        <ul class="list-group">
            {% if user.profile.completed_registration %}
                {% if matches|length == 0 %}
                    You have no matches!
                {% endif %}
                {% for match, match_pct in matches.items %}
                    <li class="list-group-item match-item">
                        <div class="match-picture-container">
                            <a href="{% url 'view_other_profile' username=match.user.username %}">
                                <img class="img-fluid" src="{{ match.get_photo_url }}" alt="Profile picture"/>
                            </a>
                        </div>
                        <div class="match-info">
                            {{ match.user.get_full_name }}
                        </div>
                        <div class="match-info">
                            Compatibility: {{ match_pct|floatformat:1 }}%</span>
                        </div>
                        <div class="match-info">
                            <a href="{% url 'view_other_profile' username=match.user.username %}">
                                <button class="btn btn-outline-primary">View Profile</button>
                            </a>
                        </div>
                        <div class="match-info">
                            <a href="{% url 'chat_room' user_one=request.user.username user_two=match.user.username %}">
                                <button class="btn btn-outline-secondary">Chat</button>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <div id="get-started">
                    <p>To start matching with potential roommates, make sure you finish registration!</p>
                    <a href="{% url 'register' %}"><button type="button" class="btn btn-outline-primary">Finish registration</button></a>
                </div>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
