{% extends 'base.html' %}
{% block title %}
    <title>Profile</title>
{% endblock %}
{% load filters %}

{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div id="content">
    <div class="card">
        {% if not is_other %}
            <h1>My Profile</h1>
        {% endif %}
        <img id="profile-picture" class="rounded mx-auto d-block img-fluid" src="{{ user.profile.get_photo_url }}" alt="Profile picture"/>
        <ul id="profile-fields" class="list-group list-group-flush">
            {% for field in user_form %}
                <li class="list-group-item">{{field.label }}: {{ field.value|default_if_none:'Unknown' }}</li>
            {% endfor %}

            {% for field in profile_form %}
                <li class="list-group-item">{{field.label }}: {{ field.value|default_if_none:'Unknown' }}</li>
            {% endfor %}
        </ul>
        {% if not is_other %}
            <a href="{% url 'edit_profile' %}" class="next-slide">
                <button class="btn btn-outline-primary" type="button">
                    Edit Profile
                </button>
            </a>
        {% endif %}
    </div>
</div>
{% endblock %}
