{% extends 'base.html' %}
{% block title %}
    <title>Questionnaire</title>
{% endblock %}

{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/questions.css' %}">
{% endblock %}

{% block content %}
<div id="content">
    <div class="card question">
        <h1 class="question-prompt">Question Prompt</h1>
        <div class="question-body">
            <label for="customRange2" class="form-label">Example range</label>
            <input type="range" class="form-range" min="0" max="5" id="customRange2">
        </div>
        <button class="btn btn-outline-primary question-next-button">Next</button>
    </div>
</div>
{% endblock %}
