{% extends 'base.html' %}
{% load filters %}

{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/questions.css' %}">
{% endblock %}

{% block content %}
<div id="content">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="slider">
            <div class="slides">
                <div class="card slide" id="slide-intro">
                    <h1>Welcome!</h1>
                    <div class="question-prompt">
                        Thanks for signing up with Roommate Connector. In order to match you with potential roommates, we need to collect some basic information about you.
                    </div>
                    <a href="#slide0" class="next-slide">
                        <button class="btn btn-outline-primary" type="button">
                            Next
                        </button>
                    </a>
                </div>
                {% for field in form %}
                    <div class="card slide" id="slide{{ forloop.counter0 }}">
                        <div class="form-group question-body">
                            <label for="{{ field.label }}" class="question-label">{{ field.label }}</label>
                            {{ field|add_class:'form-control' }}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                            {% endif %}
                            {{ field.errors }}
                        </div>
                        {% if forloop.last %}
                            <button class="btn btn-outline-primary" type="submit">Register</button>
                        {% else %}
                            <a href="#slide{{ forloop.counter }}" class="next-slide">
                                <button class="btn btn-outline-primary" type="button">
                                    Next
                                </button>
                            </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>
</div>
{% endblock %}
